<nav class="flex items-center bg-hope p-10 h-10">
    <div class="text-white font-bold text-lg cursor-pointer" id="LOGO">Hope Bargain Shoppe and Donation Centre</div>
    <button class="bg-white hover:bg-gray-300 text-hope font-bold py-2 px-4 ml-auto">
      LOG OUT
    </button>
</nav>

<script>
    $('#LOGO').on('click', function(){
        window.location.href = '/';
    });
</script>