<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/javascripts/moment.min.js"></script>
    <script src="/javascripts/underscore.min.js"></script>
    <script src="/javascripts/clndr.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/register.css"/>
  </head>
  <body class="bg-hope font-sans">
    <% include ./navbar %>
    <div class="bg-white registration">
      <br>
      <div class="text-center text-3xl text-hope">Select a day from the calendar</div>
      <br>
      <div class="calendar-cont w-full md:w-1/2"></div>
      <!-- THIS IS CUSTOM TEMPLATE FOR CLNDR.JS -->
      <script id="calendar-template" type="text/template">
        <div class="clndr-cont" id="clndr-cont">
          <div class="clndr-controls">
            <div class="clndr-previous-button material-icons">chevron_left</div>
            <div class="month">{{ month }} {{ year }}</div>
            <div class="clndr-next-button material-icons">chevron_right</div>
          </div>
          <div class="clndr-grid">
            <div class="days-of-the-week">
              <div class="header-cont">
                {% _.each(daysOfTheWeek, function (day) { %}
                  <div class="header-day">{{ day }}</div>
                {% }) %}
              </div>
              <div class="days">
              {% _.each(days, function (day) { %}
                <div class="{{ day.classes }}">
                  <div class="day-inner">{{ day.day }}</div>
                </div>
              {% }) %}
              </div>
            </div>
          </div>
        </div>
      </script>
      <br>
      <!-- THIS WILL SHOW THE TIME SLOTS -->
      <div id="time-slots" class="hidden">
        <div class="text-center text-3xl text-hope">Select a time for <span id="selected-date"></span></div>
        <br>
        <div class="flex mx-auto w-3/4 time-slots-cont" style="flex-wrap: wrap;">
          <% ['9:00am-10:30am', '10:30am-12:00pm', "12:00pm-1:30pm", "1:30pm-3:00pm", "3:00pm-4:30pm"].forEach((time, index) => { %>
            <div style="flex-basis: calc(100%/3); text-align: center;" class="my-2 time-slot-cont">
              <button disabled class="disabled-time bg-white hover:bg-hope text-hope font-semibold hover:text-white py-3 px-6 border border-hope hover:border-transparent text-lg w-64 time-slot" data-value="<%=time%>" data-index="<%=index%>">
                <%=time%>
              </button>
            </div>
          <% }) %>
        </div>
        <br>
        <br>
      </div>
      <!-- THIS IS THE FORM FOR CONTACT INFO -->
      <div class="md:w-1/2 mx-auto">
        <form class="w-full">
          <!-- PRIMARY CONTACT -->
          <div class="hidden" id="primary-contact">
            <div class="text-center text-3xl text-hope">Enter Your Contact Info</div>
            <br>
            <div class="w-full sm:flex-row flex-col flex">
              <div class="w-full sm:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="first-name">
                  First Name
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-500 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 primary-contact-input" id="first-name" type="text" placeholder="Enter First Name" name="firstName">
                <p class="hidden text-red-500 text-xs italic empty-error">Enter first name</p>
              </div>
              <div class="w-full sm:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="last-name">
                  Last Name
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-500 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 primary-contact-input" id="last-name" type="text" placeholder="Enter Last Name" name="lastName">
                <p class="hidden text-red-500 text-xs italic empty-error">Enter last name</p>
              </div>
            </div>
            <br>
            <div class="w-full">
              <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="phone-number">
                  Phone Number
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-500 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 primary-contact-input" id="phone-number" type="text" placeholder="Enter Phone Number" name="phoneNumber">
                <p class="hidden text-red-500 text-xs italic empty-error">Enter phone number</p>
              </div>
              <br>
              <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email-address">
                  Email Address <span>(optional)</span>
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-500 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="email-address" type="text" placeholder="Enter Email Address (optional)" name="emailAddress">
              </div>
              <br>
              <label class="text-gray-700 px-3">
                <input class="mr-2 leading-tight" type="checkbox" id="companions">
                <span class="text-sm">
                  I am not shopping alone
                </span>
              </label>
            </div>
          </div>
          <br>
          <!-- COMPANIONS RECORD -->
          <div class="w-full hidden" id="companion-records">
            <div class="text-center text-3xl text-hope">Add Companion(s) Info</div>
            <br>
            <div class="w-full px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                Select Number of Companions
              </label>
              <select class="block bg-gray-200 text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 border border-gray-500">
                <!-- ADD NUMBER OF COMPANIONS HERE -->
              </select>
            </div>
            <div id="companion-form">
              <!--add companion forms here-->
            </div>
          </div>
          <br>
          <div class="px-3 justify-end hidden" id="buttons-cont">
            <div>
              <p class="font-semibold my-2">Before shopping, please take note of the following:</p>
              <ol>
                <li><span class="font-medium mr-2">1.</span>Fitting rooms and washrooms will not be available.</li>
                <li><span class="font-medium mr-2">2.</span>No food allowed.</li>
                <li><span class="font-medium mr-2">3.</span>Customers will be screened - temperature check, hand and footwear sanitation.</li>
                <li><span class="font-medium mr-2">4.</span>Face mask is required.</li>
                <li><span class="font-medium mr-2">5.</span>Gloves and personal cloth bags not allowed.</li>
                <li><span class="font-medium mr-2">6.</span>Card payments only.</li>
                <li><span class="font-medium mr-2">7.</span>No holds, exchanges, returns, refunds at this time.</li>
              </ol>
              <div class="my-2">
                <label>
                  <input class="mr-2 leading-tight" type="checkbox" id="AGREE">
                  <span>
                    I agree
                  </span>
                </label>
              </div>
              
            </div>
            <br>
            <div class="flex">
              <button disabled class="disabled-time bg-transparent hover:bg-hope text-hope font-semibold hover:text-white py-2 px-4 border border-hope hover:border-transparent rounded mr-3" id="SUBMIT-BTN">
                SUBMIT
              </button>
              <a href="/" class="bg-transparent hover:bg-gray-700 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-700 hover:border-transparent rounded">
                CANCEL
              </a>
            </div>
            
          </div>
        </form>   
        <br>     
      </div>
    </div>

    <!-- THIS IS THE MODAL FOR WHEN USER SUBMITS DATA -->
    <div class="hidden fixed w-full h-full flex justify-center top-0 left-0" id="MODAL">
      <!-- MODAL BACKGROUND -->
      <div class="fixed inset-0 transition-opacity">
        <div class="absolute inset-0 bg-black opacity-50"></div>
      </div>
      <!-- MODAL CONTENT -->
      <div class="absolute md:w-1/2 sm:w-3/4 h-auto bg-white rounded-sm shadow-lg flex flex-col justify-center my-10 py-8" id="MODAL-CONTENT">
        <div class="spinner"></div>

        <!-- <div class="text-center text-green-600 font-bold text-3xl mx-10">You are booked successfully for July 17, 2020 <br> at 10:30am-12:00pm</div>
        <br>
        <div class="flex mx-10">
          <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded ml-auto" href="/">
            OKAY
          </a>
        </div> -->

        <!-- <div class="text-center text-red-600 font-bold text-3xl mx-10">Something went wrong. Please try again.</div>
        <br>
        <div class="flex mx-10">
          <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-auto" id="GO-BACK">
            GO BACK
          </button>
        </div> -->

      </div>
    </div>
  </body>
  <script type="text/javascript" src="/javascripts/register.js"></script>
</html>
