.calendar-cont{
    margin: 0 auto;
    padding: 1rem 0;
}

.clndr-cont{
    width: 100%;
    font-size: 1.5rem;
}

.clndr-controls{
    display: flex !important;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}

.clndr-previous-button, .clndr-next-button{
    cursor: pointer !important;
    display: table;
    margin: auto 0;
}

.header-cont{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 1rem 0;
}

.header-day{
    text-align: center;
}

.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    cursor: pointer;
}

.past, .calendar-dow-0, .calendar-dow-6,
.calendar-day-2020-12-25, .calendar-day-2020-12-26, .calendar-day-2020-12-27, 
.calendar-day-2020-12-28, .calendar-day-2020-12-29, .calendar-day-2020-12-30, 
.calendar-day-2020-12-31, .calendar-day-2021-01-01, .calendar-2021-05-24{
    pointer-events: none;
    color: #969696;
}

.day{
    /* pointer-events: none !important; */
	/* color: #969696 !important; */
	text-align: center;
    margin: 0.8rem 0;
}

.select-day{
    background: #ec6715 !important;
    color: white !important;
    border-radius: 50% !important;
}

.day-inner{
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    margin: 0 auto;
}

.disabled-time{
    background-color: #808080 !important;
    cursor: not-allowed !important;
    color: white;
    opacity: 50%;
    border: none !important;
}

@media only screen and (max-width: 1040px) {
    .time-slot-cont {
        flex-basis: 50% !important;
        /* border: 1px solid red; */
    }
}

@media only screen and (max-width: 700px) {
    .time-slots-cont{
        width: 100%;
        /* border: 1px solid green; */
    }
    .time-slot-cont {
        flex-basis: 100% !important;
        /* border: 1px solid blue; */
    }
}

/* input{ */
    /* border: 1px solid #9e9e9e !important ;
} */

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;
}
